html, body {
  height: 100%;
  background-color: red;
  background-image: linear-gradient(DarkMagenta , Indigo);
  overflow: hidden;
}

.centered {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type=text] {
  outline-width: 0;
  font-family: "Arial", Helvetica, Sans-serif;
  color: DarkGoldenRod;
  width: 100%;
  box-sizing: border-box;
  border: 0px;
  border-radius: 4px;
  font-size: 4VW;
  border-bottom: 4px solid DarkGoldenRod;
  background-color: transparent;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 12px 12px 12px;
}

::placeholder {
  color: DarkGoldenRod;
  opacity: 0.5;
}

.botton {
  color: DarkGoldenRod;
  background-color: transparent;
}
