html, body {
  height: 100%;
  background-color: darkmagenta;
  overflow: hidden;

  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.centered {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type=text] {
  outline-width: 0;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  color: white;
  width: 100%;
  box-sizing: border-box;
  border: 0px;
  border-radius: 0px;
  font-size: 4VW;
  border-bottom: 0.25VW solid white;
  background-color: transparent;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  padding: 0.5VW 0 0.5VW 0;
  margin: 0;
}

::placeholder {
  color: white;
  opacity: 0.5;
}

#botton {
  padding: 3VH;
  color: white;
  background-color: transparent;
  font-size: 6.5VH;
  position: absolute;
}

.header{
  color: white;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 6.5VH;
  text-align: center;
  padding: 4VH 11VH 2VH 11VH;
}

.foodname{
  color: white;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 4VH;
  padding: 4VH 4VH 4VH 4VH;
  margin: 0;
  display: inline;
  position: relative;
  top: 0.7VH;
}

.div {
  padding: 2VH 5VH
}

.div:hover{
  background: rgba(204, 0, 157, 0.35);
}

.hr {
  border: 0.75px solid white;
  padding: 0px 0px 0px 0px;
  margin: 0;
  padding: 0;
  opacity: 0.3;
}

.image {
  height: 10.62VH;
  width: 10.62VH;
  object-fit: cover;
  display: inline;
  border-radius: 1.5VH;
}

.iframe {
  padding: 0 0 0 0;
  height: 100VH;
  width: 30VW;
}

.iframe2 {
  padding: 0 0 0 0;
  width: 70VW;
  height: : 100VH;
}

#id1 {
  border: 1px black solid;
}

.leaf{
  height: 4VH;
  width: 4VH;
  object-fit: cover;
  display: inline;
  border: 0;
  float: right;
  transform: translate(0, 75%);
}

.div2 {
  display: inline;
}
