html, body {
  height: 100%;
  background-color: white;
  overflow: hidden;
}

.centered {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type=text] {
  outline-width: 0;
  font-family: "Arial", Helvetica, Sans-serif;
  color: black;
  width: 100%;
  box-sizing: border-box;
  border: 0px;
  border-radius: 0px;
  font-size: 4VW;
  border-bottom: 4px solid black;
  background-color: transparent;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  padding: 12px 12px 12px 12px;
}

::placeholder {
  color: grey;
  opacity: 1;
}

#botton {
  padding: 10px;
  color: black;
  background-color: transparent;
  font-size: 6VH;
  position: absolute;
}

.header{
  color: black;
  font-family: "Arial", Helvetica, Sans-serif;
  font-size: 6VH;
  text-align: center;
  padding: 12px 7VH 12px 7VH;
}

.foodname{
  color: black;
  font-family: "Arial", Helvetica, Sans-serif;
  font-size: 3VH;
  padding: 4VH 4VH 4VH 4VH;
  margin: 0;
  display: inline;
}

.div {}

.div:hover{
  background: LightGrey;
}

.hr {
  border: 0.5px solid grey;
  padding: 0px 0px 0px 0px;
  margin: 0;
  padding: 0;
}

.image {
  height: 14VH;
  width: 14VH;
  object-fit: cover;
  display: inline;
}

.iframe {
  padding: 0 0 0 0VW;
  height: 40VH;
  width: 100VW;
}

#id1 {
  border: 1px black solid;
}
